*{
    box-sizing: border-box;
}
:root{
    --bg-clr : #333;
    --bg-clr : #292929;
    --clr : white;
    /* --div-clr: #006699; */
    --div-clr: #6A6D75;
    --border: black;
    --hover: #ffffff33;
    
    --fw: bold;
    --ff: 'PT Sans', sans-serif;
     
    
    --bg-clr-light: white;
    /* --bg-clr-light: #FFE1E9; */
    --clr-light: white;
    --div-clr-light : orangered;
    /* --div-clr-light: #E98D7D; */
    --border-light: #333;
    --hover-light: rgb(233, 119, 78);

    /* checkbox design */
    --background-clr: #292929;
    --checkbox-background: linear-gradient(0deg, rgb(233, 227, 227), #000);
    --checked-background:  #dfa16f;
    --checkbox-toggle: linear-gradient(0deg, rgb(153, 77, 77), #6b6b6b);
    --toggle-dot: linear-gradient(0deg, #d87777, rgb(160, 145, 8));
    --toggle-dot-checked:  #f0d8b4;
}

body{
    background-image: url('images/light-mode-bg.jpg');
    background-color:var(--bg-clr-light) ;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--clr-light);
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--ff);
    position: relative;
    transition:0.5s linear;
}
body.dark{

    --background-clr: #292929;
    --checkbox-background: linear-gradient(0deg, #333, #000);
    --checked-background:  #6dd1ff;
    --checkbox-toggle: linear-gradient(0deg, #000, #6b6b6b);
    --toggle-dot: linear-gradient(0deg, #6b6b6b, #000);
    --toggle-dot-checked:  #63cdff;

    background-image: url('images/dark-mode-bg.jpg');
    background-color:var(--bg-clr);
    /* -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat; */
}

.container{
    background-color: var(--div-clr-light);
    padding: 3rem;
    border-radius: 1rem;
    border: 2px solid var(--bg-clr);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    color: var(--background-clr);
}
body.dark .container{
    /* background-color: var(--div-clr); */
    /* color: var(--clr); */
    /* border: var(--bg-clr-light) */
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    color: var(--background-clr-light);

}


.form{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1rem;
    column-gap: 3rem;
    justify-content: center;
    align-items: center;
}

.title{
    margin: 0;
    text-align: center;
}

label{
    font-weight:var(--fw) ;
}

.character-amount-container{
    display: flex;
    align-items: center;
}

.number-input{
    width: 2.5rem;
    outline: none;
}

.password-display{
    background-color: transparent;
    /* background-color: var(--clr-light); */
    color: var(--border-light);
    padding: 1rem;
    border: 1px solid var(--bg-clr);
    height: 3.5em;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    flex-grow: 3em;
    border-radius: 0.5rem;
    font-size: 1.5em;
}
body.dark .container .password-display{
    background-color: transparent;
    border: 1px solid var(--bg-clr-light);
    color: var(--clr);
}

.btn{
    grid-column: span 2;
    background-color: transparent;
    border: 2px solid var(--clr);
    color: var(--background-clr);
    font-weight: var(--fw);
    padding:0.5rem 1rem ;
    cursor: pointer;
    box-shadow: 0 0 10px var(--clr),
                0 0 20px var(--clr);
    padding: 1em 0;
    /* border-radius: 1rem; */
    transition: 0.5s;
}

.btn:hover{
    /* background-color: var(--hover); */
    background-color: var(--checked-background);
    box-shadow: 0 0 10px var(--div-clr-light),
                0 0 30px var(--checked-background),
                0 0 60px var(--div-clr-light);
            
    transform: scale(1.05);
    
}

body.dark .container .btn{
    border: 2px solid var(--clr);
    color: var(--clr);
}
body.dark .container .btn:hover{
    box-shadow: 0 0 10px #6dd1ff,
                0 0 30px #6dd1ff,
                0 0 60px #6dd1ff;

}

/* dark mode */
.dark_mode{
    position: absolute;
    top: 0.5rem;
    right: 2rem;
}
.label{
    width: 60px;
    height: 26px;
    background-color: #111;
    display:flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    top: 1em;
    right: 2em;
    cursor: pointer;
}
body.dark .label{
    border: 1px solid white;
}
.checkbox{
    opacity: 0;
    position: absolute;
}

.fa-moon{
    color: #f1c40f;
}
.fa-sun{
    color: #f39c12;
}
.ball{
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top:2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.4s linear;
}
.checkbox:checked + .label .ball{
    transform: translateX(36px);
}
  
/*  Checkbox design */
.checkbox-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
   
.checkbox-design[type="checkbox"]{
    position: realtive;
    width:4em;
    height:2em;
    -webkit-appearance: none;
    background: var(--checkbox-background);
    outline: none;
    border-radius: 20px; 
    box-shadow: 0 0 0 4px #353535,
                0 0 0 5px #3e3e3e,
                inset 0 0 10px rgba(0, 0, 0, 1),
                0 5px 20px rgba(0, 0, 0, 0.5),
                inset 0 0 15px rgba(0, 0, 0, 0.2),
                inset 0 0 15px rgba(0, 0, 0, 0.1);;  
}
.checkbox-design:checked[type="checkbox"]{
    background: var(--checked-background);
    box-shadow: 0 0 2px #6dd1ff,
                0 0 0 4px #353535,
                0 0 0 5px #3e3e3e,
                inset 0 0 10px rgba(0, 0, 0, 1),
                0 5px 20px rgba(0, 0, 0, 0.5),
                inset 0 0 15px rgba(0, 0, 0, 0.2);   
    transition: background 0.5s ease-in-out;

}
.checkbox-design[type="checkbox"]:before{
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5em;
    height: 1.9em;
    background: var(--checkbox-toggle);
    border-radius: 20px;
    box-shadow: 0 0 0 1px #232323;
    transform: scale(0.98, 0.96);
    transition: 0.5s;
}
.checkbox-design:checked[type="checkbox"]:before{
    transform: translate(1.5em);
}
.checkbox-design[type="checkbox"]:after{
    content: '';
    display: flex;
    width:0.3em;
    height: 0.3em;
    background: var(--toggle-dot);
    border-radius: 50%;
    transition: 0.5s;
    transform: translate(1.6em, -1em);   
}
.checkbox-design:checked[type="checkbox"]:after{
    background: var(--toggle-dot-checked);
    transform: translate(3.2em, -1em);
    box-shadow: 0 0 5px #13b3ff,
                0 0 15px #13b3ff;
}


@media (max-width: 760px){
    .main-container{
        margin: 2em 2em;
        padding: 0;
        height: 100vh;
        width: 90vw;       
        display: inline-block;
    }
    .dark_mode{
        right: 40%;
    }
    .container{
        width: 80vw;
        position: absolute;
        top: 10%;
        align-self: center;
    }
    .form{
        column-gap: 1rem;
    }
    .password-display{
        width: 60vw;
        height: 5rem;
    }
}
